<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <a href="/new">Add New Message</a>



  <div class="main-container">
    <div>
      <ul>
        <% messages.map((message)=>{ %>
        <li class="message-container">
          <p class="message-name"><%= message.user %></p>
          <p class="message-content"><%= message.text %></p>
          <p class="message-date"><%= message.added %></p>


        </li>
        <% }) %>
      </ul>
    </div>

  </div>



</body>

</html>